*
{
    margin:0;
    padding:0;
    font-family:'Squada One', cursive;
}
/* NAVBAR */
.navbar .navbar-brand
{
    font-size:30px;
    color:#fff;
}
.navbar
{
    background:linear-gradient(#12CBC4,#1289A7);
}
.navbar-nav .nav-item .nav-link 
{
    color:#fff;
}
.navbar-nav .nav-item .nav-link:hover{
    color:#12CBC4;
    transition:0.3s;
}
.carousel-caption
{
    bottom:400px;
    background:rgba(0, 0, 0, 0.5);
}
.carousel-caption h5
{
    font-size:45px;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:25px;
}
.carousel-caption p
{
    width: 75%;
    margin:auto;
    font-size:18px;
    line-height:1.9;
}
.navbar-light .navbar-brand
{
    color:#fff;
    font-size:25px;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:2px;
}
/* About The Website */
#about 
{
    transition:0.5s !important;
}
/* Image Hover */
.container
{
    position:relative;
    width:1200px;
    height:600px;
    margin:80px auto 0;
}
.container .box
{
    position:relative;
    width:300px;
    height:300px;
    background:rgba(0, 0, 0, 0.8);
    float:left;
    margin:35px;
    box-sizing:border-box;
    overflow:hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}
.container .box:before{
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    box-sizing:border-box;
    transition:0.5s;
    transform:scaleX(0);
    opacity:0;
    z-index:1;
}
.container .box:hover:before{
    transform:scaleX(1);
    opacity:1;
}
.container .box:after{
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    box-sizing:border-box;
    transition:0.5s;
    transform:scaleY(0);
    opacity:0;
    z-index:1;
}
.container .box:hover:after{
    transform:scaleY(1);
    opacity:1;
}
.container .box .imgBox
{
    position:relative;
}
.container .box .imgBox img
{
    width:100%;
    transition:0.5s;
}
.container .box:hover .imgBox img{
    opacity:.2;
    transform:scale(1.2);
}
.container .box .content
{
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}
.container .box .content h2
{
    margin:0 0 10px;
    padding:0;
    transition:0.5s;
    transform:translateY(-50px);
    opacity:0;
    visibility:hidden;
}
.container .box .content p
{
    margin:0;
    padding:0;
    color:#fff;
    transition:0.5s;
    transform:translateY(50px);
    opacity:0;
    visibility:hidden;
}
.container .box .content a
{
    margin:15px;
    padding:0;
    transition:0.5s;
    transform:translateY(10px);
    opacity:0;
    visibility:hidden;
}
.container .box:hover .content h2,
.container .box:hover .content p,
.container .box:hover .content a{
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
}
@media (max-width:1200px){
    .container
    {
        width:800px;
        height:auto;
        margin:80px auto 80px;
    }
    .container .box
    {
        width:300px;
        height:300px;
    }
}
@media (max-width:800px){
    .container
    {
        width:600px;
        height:auto;
        margin:80px auto 80px;
    }
    .container .box
    {
        width:300px;
        height:300px;
    }
}
@media (max-width:600px){
    .container
    {
        width:100%;
        height:auto;
        margin:80px auto 80px;
    }
    .container .box
    {
        width:300px;
        height:300px;
        margin:15px auto;
        float:none;
    }
}
/* Permium */
.permium /* Section */
{
    padding:100px 0;
    background:linear-gradient(#12CBC4,#1289A7);
}
.price-table
{
    text-align:center;
    overflow:hidden;
    margin:20px;
    background:#fff;
    box-sizing:border-box;
    box-shadow:inset 0 0 40px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0, 0, 0, 0.5);
    border-radius:20px;
}
.price-table .price-head
{
    padding:50px;
    background:linear-gradient(45deg, #12CBC4,#1289A7);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}
.price-table .price-head h4
{
    text-transform:uppercase;
    margin:0;
    padding:0;
    font-weight:700;
}
.price-table .price-head h2
{
    margin:0;
    padding:20px 0 0; 
    font-size:36px;
    color:#fff;
}
.price-content
{
    position:relative;
}
.price-content ul
{
    position:relative;
    margin:0;
    padding:20px 0;
}
.price-content ul li
{
    list-style:none;
    font-size:16px;
    text-transform:uppercase;
    padding:10px 0;
    cursor:pointer;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    transition:0.5s;
}
.price-content ul li:hover{
    border-left:15px solid #12CBC4;
    border-right:15px solid #12CBC4;
}
.price-button
{
    padding:0 0 30px;
}
.price-button a
{
    padding:10px 40px;
    background:linear-gradient(#12CBC4,#1289A7);
    color:#fff;
    border-radius:25px;
    font-size:18px;
    text-transform: uppercase;
    text-decoration:none;
}
.price-button a:hover{
    background:#fff;
    color:#000;
    transition:0.3s;
}
/* Identify the designer */
.designer
{
    background:#ecf0f1;
}
/*fOOTER*/
.footer
{
    padding:50px;
    background-image:linear-gradient(#12CBC4,#1289A7);
}
.store-icon img
{
    width:150px;
    margin:0 10px 50px;
}
.footer-meun a
{
    display:inline-block;
    width:125px;
    color:white !important;
    text-decoration:none !important;
    margin-bottom:20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.final-toch
{
    color:#fff !important;
}
.footer-meun a:hover{
    color:#12CBC4 !important;
    transition:0.3s !important;
}